@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input {
  width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.nav-toggle {
  background-image: url('assets/menu.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  z-index: 2;
  position: relative;
}

.nav-toggle[aria-expanded=true] {
  background-image: url('assets/close.svg');
}

.divider {
  position: relative;
}

.divider:not(:last-child)::before {
  content: '';
  background-color: hsl(0 0% 100% / .6);
  height: 2px;
  width: 20%;
  position: absolute;
  bottom: -1.2rem;
}

@media(min-width: 1000px) {
  .divider::before {
    content: '';
    background-color: hsl(0 0% 100% / .6);
    height: 2px;
    width: 20%;
    position: absolute;
    bottom: -1.2rem;
  }
}

@media(min-width: 1280px) {
  .divider::before {
    display: none;
  }

  .divider:not(:last-child)::before {
    display: block;
    content: '';
    background-color: hsl(0 0% 100% / .6);
    height: 15px;
    width: 2px;
    position: absolute;
    bottom: -1.2rem;
    bottom: auto;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
  }
}

.blurred-bg::before,
.blurred-bg::after {
  position: absolute;
  content: '';
  height: 600px;
  width: 200px;
  bottom: -200px;
  background-color: #00040F;
}

.blurred-bg::after {
  left: -150px;
  rotate: -25deg;
}

.blurred-bg::before {
  right: -150px;
  rotate: 25deg;
}

.social:hover {
  opacity: .7;
}